/*
> Latitud:  float
> Longitud: float
> Bateria:  int
> Corriente 1:  float
> Corriente 2:  float
> Temperatura:  float
*/

  
/* =========================================== */
/* COLORES */
/* =========================================== */
:root {
    --color_1: #26292B;
    --color_2: #2E3239;
    --color_3: #5F7ADB;
    --color_4: #A2B2EE;
    --color_white: #FFFFFF;
    --color_lightGray1: #F1F5FB;
    --color_lightGray2: #DBDDE3;
    --color_Gray: #A7A9AD;
    --color_DarkGray1: #222222;
    --color_DarkGray2: #121212;
    --color_almostBlack: #14121E;
    --color_black: #000000;
}

/* =========================================== */
/* FUENTES */
/* =========================================== */

/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAUi-qNiXg7eU0.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 400;
    src: local('Lato Italic'), local('Lato-Italic'), url(https://fonts.gstatic.com/s/lato/v15/S6u8w4BMUTPHjxsAXC-qNiXg7Q.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_FQftx9897sxZ.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: italic;
    font-weight: 700;
    src: local('Lato Bold Italic'), local('Lato-BoldItalic'), url(https://fonts.gstatic.com/s/lato/v15/S6u_w4BMUTPHjxsI5wq_Gwftx9897g.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjxAwXiWtFCfQ7A.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 400;
    src: local('Lato Regular'), local('Lato-Regular'), url(https://fonts.gstatic.com/s/lato/v15/S6uyw4BMUTPHjx4wXiWtFCc.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
/* latin-ext */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwaPGQ3q5d0N7w.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Lato';
    font-style: normal;
    font-weight: 700;
    src: local('Lato Bold'), local('Lato-Bold'), url(https://fonts.gstatic.com/s/lato/v15/S6u9w4BMUTPHh6UVSwiPGQ3q5d0.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}

heading {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 24px;
}

subheading {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 18px;
}



/* =========================================== */
/* GENERAL*/
/* =========================================== */
* {
    padding: 0%;
    margin: 0%;
}

body,
td,
th,
tr,
p,
a {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 16px;
}

body {
    font-family: 'Lato', Verdana, Helvetica, sans-serif;
    font-size: 18px;
    color: var(--color_white);
    background-color: var(--color_1);
}

/* =========================================== */
/* HEADER */
/* =========================================== */
header{
    background-color: var(--color_2);

    border-bottom-left-radius: 15px;
    border-bottom-right-radius: 15px;
    box-shadow: 0px 0px 20px rgba(0,0,0,.6);

    display: flex;
    text-align: center;
}

.titulo{
    margin: 5px auto;
    line-height: 250%;
    text-align: center;
}

.titulo > h1{
    font-family: verdana, monospace, sans-serif;
    font-weight: normal;
    font-size: 24px;
}

/* =========================================== */
/* MAIN */
/* =========================================== */
main {
    margin-top: 25px;
    height: 80vh;
    display: flex;
    text-align: center;
    justify-content: center;
}

/* =========================================== */
/* LEFT */
/* =========================================== */
.Left {
    width: 25%;
    padding: 5px;
    margin: 0 7.5px 0 15px;
    border: solid 1px var(--color_lightGray2);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

/* =========================================== */
/* MIDDLE */
/* =========================================== */
.Middle{
    width: 50%;
    padding: 5px;
    margin: 0 7.5px 0 7.5px;
    text-align: center;
    border: solid 1px var(--color_lightGray2);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

#rtaMap {
    height: 95%;
    width: 100%;
    border-radius: 15px;
}

/* =========================================== */
/* RIGHT */
/* =========================================== */
.Rigth{
    width: 25%;
    padding: 40px 0;
    margin: 0 15px 0 7.5px;
    text-align: center;
    justify-content: center;
    border: solid 1px var(--color_lightGray2);
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}

table {
    width: 100%;
    border-collapse: collapse;
    text-align: center;
    vertical-align: middle;
}

th {
    text-align: right;
    padding-right: 20px;
}

td {
    text-align: left;
    padding-left: 20px;
}
      

/* =========================================== */
/* CIRCLE PROGRESS BAR */
/* =========================================== */
/* https://www.codinglabweb.com/2022/06/progress-bar-html-css-javascript.html*/

.battery-container{
    display: flex;
    width: 100%;
    padding: 40px 0;
    border-radius: 8px;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.battery-progress{
    position: relative;
    height: 280px;
    width: 280px;
    border-radius: 50%;
    background: conic-gradient(var(--color_Gray) 3.6deg, var(--color_lightGray2) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}
.battery-progress::before{
    content: "";
    position: absolute;
    height: 240px;
    width: 240px;
    border-radius: 50%;
    background-color: var(--color_1);
}
.battery-value{
    position: relative;
    font-size: 40px;
    font-weight: 600;
    color: var(--color_white);
}

.battery-container > .text{
    font-size: 30px;
    font-weight: 500;
}

/* =========================================== */
/* =========================================== */

.current{
    display: flex;
    width: 100%;
    flex-direction: row;
    align-items: center;
}

.current-container{
    display: flex;
    width: 50%;
    border-radius: 8px;
    row-gap: 30px;
    flex-direction: column;
    align-items: center;
}

.current-progress{
    position: relative;
    height: 120px;
    width: 120px;
    border-radius: 50%;
    background: conic-gradient(var(--color_Gray) 36deg, var(--color_lightGray2) 0deg);
    display: flex;
    align-items: center;
    justify-content: center;
}

.current-progress::before{
    content: "";
    position: absolute;
    height: 100px;
    width: 100px;
    border-radius: 50%;
    background-color: var(--color_1);
}

.current-value{
    position: relative;
    font-size: 25px;
    font-weight: 600;
    color: var(--color_white);
}

.current-container > .text{
    font-size: 20px;
    font-weight: 500;
}